<% provide(:title, @user.name) %>
<div class="container row-fluid">
	<div class="profile_picture span2">
		<%= gravatar_for @user %>
	</div>
	<div class="user_info span6">
		<h3><%= @user.name %></h3>
		<h4 class="balance">Balance:</h4>
	</div>
</div>