<div class="jumbotron about">
	<h1>About us</h1>
	<p class="lead">Try your luck at the world's first online Fun Point® gaming establishment.</p>
	<p class="lead">This section is under construction.</p>
</div>