<div class="jumbotron affiliates">
	<h1>Affiliates</h1>
	<p class="lead">While we consider ourselves the best gaming in town, there are other establishments that provide exemplary service:</p>

	<div class="affiliate row-fluid">
		<a class="span3" href="http://goldenpalace.herokuapp.com/" title=""><img class="img-polaroid" src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-frc3/29423_10100161059257773_2925581_n.jpg?lvh=1"></a>
		<div class="affiliate_name span6 offset1 lead">The Golden Palace</div>
	</div>
<hr>
	<div class="affiliate row-fluid">
		<a class="span3" href="#" title=""><img class="img-polaroid" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c41.31.391.391/s320x320/10074_10100752283240218_1346008767_n.jpg"></a>
		<div class="affiliate_name span6 offset1 lead">The Shady Fortune</div>
	</div>

</div>