<div class="jumbotron home">
	<h1>Welcome to The Resplendent</h1>
	<p class="lead">Try your luck at the world's first online Fun Point® gaming establishment.</p>
	<div class="container">
		<img class="blackjack" src="http://i.imgur.com/LtUelbu.jpg">
	</div>
</div>

