// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */

.container {
	max-width:700px;
	margin:auto;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

hr {
	width:100%;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// Layout styling
* {
	margin:0;
}

html, body {
	height:100%;
}

.container-narrow {
	max-width:700px;
	min-height:100%;
	height:auto !important;
	margin:0 auto -110px;
	margin-top:15px;
}

#push {
	height:50px;
}

// Header styling

.masthead {
	.title {
		color:#d1a319;
		text-shadow: 2px 2px #a6a6a6;
	}
}

// Home page styling

.home {
	h1, p {
		text-align:center;
	}
	img.blackjack {
		display:block;
		margin:auto;
	}
}

// Affiliate styling

.affiliates {
	div.affiliate {
		padding-top:10px;
		padding-bottom:10px;
	}
}

// Footer styling

#footer {
	margin:auto;
	font-size:16px;	
	height:60px;
	margin:auto;
	.container {
		max-width:700px;
		line-height:50px;
		p {

		}
	}
}

// Show user page

.user_info {
	h1, h2, h3, h4 {
		margin:0;
	}
	.balance {
		padding-top:20px;
	}
}
