<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li><a href="/home" title="Home">Home</a></li>
		<li><a href="/about" title="About">About</a></li>
		<li><a href="/affiliates" title="Affiliates">Affiliates</a></li>
		<li><a href="#" title="Sign in">Sign in</a></li>
	</ul>
	<h3 class="title">THE RESPLENDENT</h3>
</div>