<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li><a href="/" title="Home">Home</a></li>
		<li><a href="/about" title="About">About</a></li>
		<li><a href="/affiliates" title="Affiliates">Affiliates</a></li>
		
		<% if signed_in? %>

			<li><%= link_to "Profile", current_user %></li>
			<li><a href="/signout" title="Sign out">Sign out</a></li>

			<% if admin? %>

				<li><a href="/edit" title="Edit">Edit users</a></li>

			<% end %>

		<% else %>

			<li><a href="/signin" title="Sign in">Sign in</a></li>

		<% end %>
	</ul>
	<h3 class="title">THE RESPLENDENT</h3>
</div>

